* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.board {
    display: grid;
    gap: 0px;
}


.row {
    width: 600px;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    justify-content: center;
}

.tile {
    padding-top: 10px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    display: grid;
    height: 70px;
    width: 60px;
    font-size: 2.25rem;
}

